---
import TechLogos from "@components/tech-logos/tech-logos.astro";
import type { CollectionEntry } from "astro:content";
const { projects } = Astro.props as { projects: CollectionEntry<"projects">[] };
---

<li>
  <h3 class="text-sm">Advent of Code</h3>
  <ul class="flex w-fit flex-wrap gap-x-2 gap-y-1">
    {
      projects.map((project) => (
        <li class="mt-1 flex items-center gap-1">
          <a
            href={project.data.link}
            target="_blank"
            class="text-xs text-stone-600 underline"
          >
            {project.data.year}
          </a>
          <TechLogos logos={project.data.tech} />
        </li>
      ))
    }
  </ul>
</li>
