:root {
    --BACK: #f3f3f3;
    --PRIMARY: #070707;
    --BACK80: #202020
  }

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Monument Extended Black';
    src: url('./fonts/MonumentExtended-Black.ttf');
}
@font-face {
    font-family: 'Monument Extended Light';
    src: url('./fonts/MonumentExtended-Light.ttf');
}


body {
    text-align: center;
    font-family: 'Monument Extended Black';
    background-color: var(--BACK);
    font-size: 14px;
    user-select: none;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logodiv {
    color: var(--PRIMARY);
}

.logo-big {
    font-size: 90px;
    font-size: calc(90px + 1.5vh);;
    font-weight: 900;
    white-space: nowrap
}

.logo-small {
    font-family: 'Monument Extended Light';
    font-size: 75%;
    text-align: left;
}

.links {
    padding-top: 2vh;
}



a {
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    border: 1px solid var(--PRIMARY);
    color: var(--PRIMARY);
    margin-bottom: 10px;
    
    font-size: calc(14px + .4vmin);

    padding-top: 30px;
    padding-bottom: 30px;
    display: block;

    overflow: hidden;

    box-shadow: 3px 3px 0 var(--PRIMARY)
}

a:hover {
    background-color: var(--BACK80);
    color: var(--BACK);
    transition: all 0.2s;
}
.email{
    user-select: all
}