---
import Layout from "../layouts/Layout.astro";
import Title from "@components/title.astro";
import Projects from "@components/projects/index.astro";
---

<Layout title="Kirill Kleimenov">
  <div
    class="mx-auto flex max-w-5xl flex-col justify-center px-4 pt-[10vh] pb-12 md:px-10"
  >
    <Title />

    <Projects />
  </div>
</Layout>
