---
import Layout from "../layouts/Layout.astro";
import RotatingCard from "../components/rotatingCard.svelte";
---

<Layout title="Welcome to Astro.">
  <main class="py-10 font-mono flex justify-center items-center">
    <RotatingCard client:load>
      <div class="flex flex-col items-center justify-center">
        <h2 class="text-5xl font-bold">Hi!</h2>
        <h2 class="text-3xl font-bold">My name is:</h2>
        <h3 class="text-4xl font-black my-2">Kirill</h3>
      </div>

      <div class="flex flex-col gap-2 my-4 underline">
        <a class="" href="mailto:k.kelolov@gmail.com"> k.kelolov@gmail.com</a>
        <a class="" href="https://github.com/ze-kel/">github</a>
        <a class="" href="https://www.behance.net/ze_kel/">behance</a>
      </div>
    </RotatingCard>
  </main>
</Layout>
