---
import Layout from "../../../layouts/Layout.astro";
import image171226 from "../../../../assets/17-12-26.png";
import RotatingCard from "../../../components/rotatingCard.svelte";
---

<Layout title="Welcome to Astro.">
  <h1 class="">Daily renders</h1>
  <p>
    In summer of 2016 I was bored and wanted to occupy time with someting. So I
    decided to learn Cinema 4d. To practice I did daily renders from mid 2016 to
    mid 2018. Longest consecutive streak was ~15 months.
  </p>

  <p>
    Most of them were shit, but you can still see a nice progression over time.
  </p>

  <p>
    All of them were Cinema 4D + Photoshop(sometimes AE). Native renderer at
    first, octane Stating at 17.12.2017
  </p>

  <div>
    <div class="grid grid-cols-2 gap-4">
      <RotatingCard client:load>
        <img src={image171226} />
      </RotatingCard>
      <RotatingCard client:load>
        <img src={image171226} />
      </RotatingCard>
    </div>
  </div>
</Layout>
