<h1
  class="group relative mx-0 w-fit select-none text-7xl font-black italic leading-none md:text-[128px]"
>
  <span
    class="absolute -top-0.5 left-3.5 inline-block bg-gradient-to-tl from-stone-50 to-stone-300 bg-clip-text pr-2 text-xs font-light text-transparent opacity-10 transition-opacity group-hover:opacity-100 md:left-[26px] md:text-xl"
    >KIR
  </span><span class="peer relative z-10">ILL</span><span
    class="inline-block w-0 transition-all group-hover:w-6">{" "}</span
  ><span
    >KLE<span
      class="absolute bottom-0.5 right-0 z-0 translate-y-2.5 bg-gradient-to-tl from-stone-50 to-stone-300 bg-clip-text pr-1.5 text-xs font-light text-transparent opacity-10 transition-opacity group-hover:opacity-100 md:-bottom-0.5 md:right-1 md:text-xl"
      >IMENOV</span
    >
  </span>
</h1>
