<h1
  class="group relative mx-0 w-fit text-7xl leading-none font-black italic select-none md:text-[128px]"
>
  <span class="peer pointer-events-none relative z-10">
    <span
      class="pointer-events-none absolute top-0 left-3 inline-block bg-gradient-to-tl from-stone-50 to-stone-300 bg-clip-text pr-2 text-xs font-light text-transparent opacity-10 transition-opacity group-hover:opacity-100 md:left-5 md:text-xl"
      >KIR</span
    >ILL</span
  >
  <span class="pointer-events-none hidden w-0 transition-all group-hover:w-6">
    {" "}</span
  >
  <span class="pointer-events-none relative"
    >KLE<span
      class="pointer-events-none absolute right-0 bottom-0.5 z-0 translate-y-2.5 bg-gradient-to-tl from-stone-50 to-stone-300 bg-clip-text pr-1.5 text-xs font-light text-transparent opacity-10 transition-opacity group-hover:opacity-100 md:right-1 md:-bottom-0.5 md:text-xl"
      >IMENOV</span
    >
  </span>
</h1>

<div class="mt-12 font-mono">
  <p class="text-md">Frontend oriented fullstack developer</p>

  <ul
    class="mt-2 flex flex-col gap-2 text-sm font-light text-stone-400 md:flex-row md:gap-4 md:text-center"
  >
    <li>
      <a target="_blank" href="mailto:k.kelolov@gmail.com" class="underline"
        >k.kelolov@gmail.com</a
      >
    </li>
    <li>
      telegram: <a target="_blank" href="https://t.me/illkle" class="underline"
        >@illkle</a
      >
    </li>
    <li>
      github: <a
        target="_blank"
        href="https://github.com/illkle"
        class="underline">illkle</a
      >
    </li>
  </ul>
</div>
