<h1
  class="group relative mx-0 w-fit text-7xl leading-none font-black italic select-none md:text-[128px]"
>
  <span class="peer pointer-events-none relative z-10">
    <span
      class="pointer-events-none absolute top-0 left-3 inline-block bg-gradient-to-tl from-stone-50 to-stone-300 bg-clip-text pr-2 text-xs font-light text-transparent opacity-10 transition-opacity group-hover:opacity-100 md:left-5 md:text-xl"
      >KIR</span
    >ILL</span
  >
  <span class="pointer-events-none hidden w-0 transition-all group-hover:w-6">
    {" "}</span
  >
  <span class="pointer-events-none relative"
    >KLE<span
      class="pointer-events-none absolute right-0 bottom-0.5 z-0 translate-y-2.5 bg-gradient-to-tl from-stone-50 to-stone-300 bg-clip-text pr-1.5 text-xs font-light text-transparent opacity-10 transition-opacity group-hover:opacity-100 md:right-1 md:-bottom-0.5 md:text-xl"
      >IMENOV</span
    >
  </span>
</h1>
