---
import "../styles/global.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-stone-950">
  <head class="">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script
      defer
      src="https://service-umami.illkle.com/script.js"
      data-website-id={import.meta.env.UMAMI_WEBSITE_ID}></script>
    <meta name="generator" content={Astro.generator} />
    <title>illkle | {title}</title>
    <meta
      name="description"
      content="illkle | Kirill Kleimenov, frontend\fullstack developer. Links to personal projects and contacts."
    />
  </head>

  <body class="bg-stone-950 bg-gradient-to-b text-stone-50">
    <slot />
  </body>
</html>
