---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script
      defer
      src="https://service-umami.illkle.com/script.js"
      data-website-id={import.meta.env.UMAMI_WEBSITE_ID}></script>
    <meta name="generator" content={Astro.generator} />
    <title>Kirill Kleimenov</title>
    <style></style>
  </head>
  <body class="bg-stone-950 text-stone-50">
    <slot />
  </body>
</html>
